	body 
	{
		font-family: "Helvetica","Verdana","Trebuchet MS" ,"Arial","sans-serif";
		text-align:center;
	}

	.root_div
	{
		width: 800px;
		margin-top: 10px;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
		text-align:left;
	}
	input {
		border: 1px solid #cccccc;
		}

	textarea { 
		border: 1px solid #eee;
		width: 500px;
		height:100px;
	}
	
	#new_comment{
		background-color: #ffffff;
		width: 400px;
		height:80px;
	}
	
	.input_div
	{
		float:right; 
	}
	
	a.thumb {text-decoration:none}
	a:link {color : #8b8989}
	a:visited {color : #8b8989}
	
	a.thumb{text-decoration : none}
	a.thumb:link{color : #ffffff}
	a.thumb:visited {color : #ffffff}
	a.thumb:active {color : #ffffff}

	.primary_content_div
	{
		display:table;
		width:100%;
		margin:auto;
	}
	
	.primary_content_info
	{
		position:relative;
		text-align:left;
	}
	.children_div
	{
		vertical-align:top;
		display:table-cell;
		padding-left:20px;
	}

	.child_item_div
	{	
		float:left;
		padding: 2px; 
	}

	.title_bar
	{
		display:table-cell;
		width:500px;
		padding-top:10px;
		font-size:150%;
	}

	.text_box
	{
		clear:both;
		position:relative;
		display:block;
		background: #eee;
		padding:30px;
		margin: auto;
		width:350px;
		height:350px;
		text-align:left;
	}
	.gallery
	{
		display:table-cell;
	}
	img.primary_photo_img 
	{
  		max-width: 500px;
  		border:none;
	}
	
	img.thumb_photo_img 
	{
  		max-height: 75px;
  		border:none;
	}
		
	.tag_div {
		display:table-cell;
		text-align:left;
		vertical-align:top;
		padding-top:10px;
		font-size : 8pt;
	}
	
	.trackback_info
	{
		text-align:left;
		padding-top: 10px; 
		display:block;
	}
	
	.user_info{
		display:table-cell;
		vertical-align:bottom;
		font-size: 8pt;
	}
	
	.container {background:#ccc; color:#fff; margin:0 15px;}
	

	.editable, textarea{
		background-color: #ffffd3;
	}

	img.instax_child_img{
		padding: 5px 5px 25px 5px;
		background: #fff;
		border: 1px solid #fff;
		-webkit-transition: -webkit-transform .15s linear;
		-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
		-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
		position: absolute;
	}
	

	div.instax_child_img{
		padding: 5px 5px 15px 5px;
		background: #fff;
		border: 1px solid #fff;
		-webkit-transition: -webkit-transform .15s linear;
		-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
		-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
		position: absolute;
		top: auto;
		left:auto;
	}

	div.image-delete{
		background:transparent url(../img/basic/x.png) no-repeat top left;
		height:25px;
		width:25px;
		position:absolute;
		z-index:999999;
		cursor:pointer;
	}
	
	div.image-title{
		display:block;
		position:absolute;
		bottom:3px;
		right:10px;
	}


	img.thumb_child_img 
	{
		padding: 10px;
		background: #ccc;
		border: 1px solid #fff;
		-moz-box-shadow: 0px 2px 15px #333;
		-webkit-box-shadow: 0px 2px 15px #333;
		position: relative;
		max-height: 80px;
		border:none;
	}
	
	div.share_button
	{
		display:table-cell;
		vertical-align:top;
	}
	
	.comments{
		width:500px;
		display:table;
		padding-top:20px;
		font-size: 8pt;
	}
	
	.comment_row{
		display:table-row;
		text-align:left;
		height:30px;
	}
	
	.content_box{
		display:table-cell;
		vertical-align:top;
		padding-top:30px;
		font-size:10pt;
	}
	.tile_block{
		display:inline;
		float:left;
		padding: 5px;
	}